<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<%= form_for :subject, url: {action: 'create'} do |f|%>
    <%= render partial: 'form', locals: {f: f}%>
    <div>
        <%= submit_tag 'Create' %>
    </div>
<%end%>